# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE-specific files
.vscode/
.idea/

# Miscellaneous
*.log
*.swp
.DS_Store